<mat-toolbar color="accent">
  <mat-toolbar-row>
    <span>Logo</span>
    <a routerLink="/admin-equipment" routerLinkActive="active"><button mat-raised-button class="navButton">Admin
        equipment
      </button></a>
    <a routerLink="/admin-employees"><button mat-raised-button class="navButton">Admin employees
      </button></a>
    <a routerLink="/admin-projects"><button mat-raised-button class="navButton">Admin projects
      </button></a>
    <span class="example-spacer">
    </span>
    <a>
      <mat-icon class="example-icon" (click)="logout()">logout</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<br>
<div class="container">
  <button mat-fab color="accent" (click)="openDialog()">
    <mat-icon aria-label="Example icon-button with a plus icon">add</mat-icon>
  </button>
  <br>
  <br>
  <br>
  <div class="row">
    <div *ngFor="let item of equipData">
      <div class="col-sm-6">
        <mat-card class="example-card">
          <mat-card-actions>
            <button mat-icon-button (click)="deteleEquip(item._id)">
              <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
            </button>
            <button mat-icon-button (click)="updateDialog(item._id)">
              <mat-icon aria-label="Example icon-button with a heart icon">update</mat-icon>
            </button>
          </mat-card-actions>
          <mat-card-header>
            <mat-card-title>Name : {{item.name}}</mat-card-title>
            <mat-card-subtitle>Nationality: {{item.serialNumber}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{item.attachment}}" alt="Photo">  
        </mat-card>
      </div>
    </div>
  </div>
</div>