<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Logo</span>
    <a routerLink="/admin-equipment" routerLinkActive="active"><button mat-raised-button class="navButton">Admin
        equipment
      </button></a>
    <a routerLink="/admin-employees"><button mat-raised-button class="navButton">Admin employees
      </button></a>
    <a routerLink="/admin-projects"><button mat-raised-button class="navButton">Admin projects
      </button></a>
    <span class="example-spacer">
    </span>
    <a>
      <mat-icon class="example-icon" (click)="logout()">logout</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<h2>Add equipment</h2>

<button mat-fab color="primary" (click)="openDialog()">
  <mat-icon aria-label="Example icon-button with a plus icon">add</mat-icon>
</button>

<div *ngFor="let item of equipData">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Name : {{item.name}}</mat-card-title>
        <mat-card-subtitle>Nationality: {{item.serialNumber}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h3>Job Title</h3>
        <h4>
          {{item.jobTitle}}
        </h4>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="deleteEquip(item._id)">Delete</button>
        <button mat-button (click)="updateDialog(item._id)">Update</button>
      </mat-card-actions>
    </mat-card>
  </div>